section

  h1 Browser

  .cols
    .col
      browser(id="mybrowser" url="http://www.linuxfr.org" width="100%")
    .col
      p Changement d'url
      code(style="font-size:15px" class="cmd"  v-send-to-bus:mybrowser.changeurl="'https://linuxfr.org/'") Home 
      br
      code(style="font-size:15px"  class="cmd" v-send-to-bus:mybrowser.changeurl) https://linuxfr.org/wiki/linuxfr-org 


