section

  h1 Browser

  .cols
    .col
      browser(name="mybrowser" url="http://www.linuxfr.org")
    .col
      p Changement d'url
      code(style="font-size:15px" class="cmd"  v-send-url:mybrowser) https://linuxfr.org/wiki/linuxfr-org 



