doctype html
html
  head
    title #{vars.title}

    //- REVEAL STUFF
    link(rel="stylesheet" href="/static/reveal/css/reveal.css")
    link(rel="stylesheet" href="/static/reveal/css/theme/"+vars.theme+".css")
    script(src="/static/reveal/js/reveal.js")
    script(src="/static/reveal/lib/js/head.min.js")
    
    //- FONT AWESOME
    link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")
        
    //- VUEJS
    script(src="/vue/dist/vue.js")

    //- VUE COMPONENTS 
    script(src="/static/uuid.js")
    script(src="/static/bus.js")
    script(src="/static/term.js")
    script(src="/static/codemirror.js")
    script(src="/static/browser.js")
    script(src="/static/tabs.js")
    link(rel="stylesheet" href="/static/tabs.css")

    //- FILE COPY
    script(src="/socket.io-client/dist/socket.io.js")
    script(src="/static/remoteExec.js")

    //- MAIN CSS
    link(rel="stylesheet" href="/static/main.css")

  body
    .reveal#app
      .slides
        include /slides.pug

    script.


      Vue.directive('sendToBus', {
        bind: function (el,binding,vnode) {
          el.addEventListener("click", function(){
            var target = binding.arg;
            var value = binding.value  || el.innerHTML;
            var modifiers = binding.modifiers;
            var command = Object.keys(modifiers)[0];
            console.log(target,command, value)
            BUS.publish(target,command, value);
          });
        }
      })


      vueApp = new Vue({
        el: '#app',
        data: {
        },
        mounted: function(){
          Reveal.initialize({	
            width: "100%",
            height: "100%",
            margin: 0.05,
            minScale: 1,
            maxScale: 1,
            fragmentInURL: true,
            history: true,
            // Sub optimal, but if we set the default value (3) 
            // the terminal is not correctly rendered if
            // the slide is >3
            viewDistance: 9999
          });
        }
      })
      
